
@media  screen and (max-width:662px){
    body{
        background-color: antiquewhite;
    }
    
}



.height{
    height: 1000px;
    width: 100%;
    background-image: url(../html/6e994d0b-3c09-4e01-916d-0a0bdfd78884.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}
.nav1{
    height: 50px;
    width: 100%;
    background: linear-gradient(to right,white,red);
    position: sticky;
}
li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
}
li:hover{
    background-color: rgb(107, 107, 107);
    transition: 1s;
}
.opt1{
    position: relative;
}
.opt2 {
    position: absolute;
    background-color: antiquewhite;
    display: none;
    left: 80%;
    text-align: left;
    min-width: 120px;
}
.opt1:hover .opt2  {
    display: block;
    background-color: rgb(206, 208, 208);
}
.sec1{
    height: 400px;
    width: 30%;
    float: right;
    background-color: aliceblue;
    margin-top: 150px;
    margin-right: 30px;
    background-image: url(../img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.sec2{
     height: 400px;
    width: 30%;
    float: right;
    background-color: aliceblue;
    margin-top: 150px;
    margin-right: 36px;
    background-image: url(../html/pexels-hsapir-1054655.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}   
.sec3{
     height: 400px;
    width: 30%;
    float: left;
    background-color: aliceblue;
    margin-top: 150px;
    margin-left: 30px;
    background-image: url(../html/istockphoto-1322277517-612x612.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.text1 p{
    color: rgb(19, 18, 18);
}
.text1,.text2,.text3{
    margin-top: 100px;
    padding: 20px;
    font-family: serif;
}
.text2 > p{
    color: rgb(207, 188, 81);
}
.sec1:hover{
    transition: 0.3s;
    height: 420px;
    width: 400px;
}
.sec2:hover{
    transition: 0.3s;
    height: 420px;
    width: 400px;
}
.text3 + p{
     color: rgb(255, 156, 63);
     margin-top: -40px;
     font-family: cursive;
     padding: 20px;
}
.sec3:hover{
    transition: 0.3s;
    height: 420px;
    width: 420px;
}