body{
    font-family: 'Times New Roman', Times, serif;
}
table {
    width: 60%;
    border-collapse: collapse;
    text-align: center;
    font-size: 15px;
    border: 2px solid black;
    background-color: lightcyan;
    font-family: 'Times New Roman', Times, serif;
}
th{
    background-color: lightcoral;
}
label{
    margin-left: 10px;
}
#find{
  width: 100px;
}